@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans:wght@300&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap');

.App {
  text-align: center;
}

.App-logo {
  width: 300px;
  margin: 10px auto 0px auto;
}

.App-link {
  color: #63DBFF;
}

body * {
  font-family: Noto Sans;
  color: #404040;
  
}
h1 {
  font-size: 20px;
  font-weight: lighter;
}
.reminderForm {
  margin: auto;
  width: 50%;
}
.reminderForm  {
  margin: 0 auto 0px auto;
  width: 90%;
}

.reminderForm>form>input {
  width: 300px;
  height: 10px;
  padding: 10px;
}

.reminderForm form label h1{
 margin: 5px auto 5px auto;
}

.reminderBtn {
  margin: 10px;
  border: 1px solid #e6eeec;
  border-radius: 18px;
  background-color: #63DBFF;
  font-family: monospace;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  color: #404040;
  padding: 10px;
}
.reminderBtn:hover{
  background-color: #46d1fc;
}
.remindersList>div {
  border-radius: 8px;
  margin: auto;
  width: 500px;
}

p {
  font-size: 13px;
}

.deleteBtn {
  background-color: rgb(207, 65, 65);
  color: white;
  padding: 8px;
  border-radius: 17px;
  border: 1px solid #e6eeec;
  cursor: pointer;
  font-weight: bold;
}

.deleteBtn:hover{
  background-color: rgb(201, 45, 45);
}
