@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Ubuntu&display=swap');

.App {
  text-align: center;
}

.App-logo {
  width: 350px;
  margin: 80px auto 10px auto;
}

.App-link {
  color: #63DBFF;
}

body * {
  font-family: Ubuntu;
}
h1 {
  font-size: 18px;
}
.reminderForm {
  margin: auto;
  width: 40%;

}
form {
  margin: 0 auto 10px auto;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 20px;
  background-color: rgb(215, 215, 215);

}

form>input {
  margin: 20px;
}
.reminderBtn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #63DBFF;
  font-family: monospace;
  width: 100px;
  font-size: 15px;

}

p {
  font-size: 13px;
}

.deleteBtn {
  font-weight: bold;
}
